<!DOCTYPE html>
<html lang="en">
  <head>
  	<link rel="stylesheet" href="css/bootstrap-css/bootstrap.min.css">
  	<link rel="stylesheet" href="css/style.css">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>This is texercise2!</title>
  </head>
  <body>
  	<div class="container">
    	<p>This is not an example paragraph. Anything but the <strong>body</strong> will disappear on the page, exactly not  like this <strong>p</strong> ninny and its cohorts.
    	and a depressed #3... *sigh*</p>
    	<img src="images/butterfly.jpg">
    </div>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap-js/bootstrap.min.js"></script>
  </body>
</html>