<p>This is not an example paragraph. Anything but the <strong>body</strong> will disappear on the page, exactly not  like this <strong>p</strong> ninny and its cohorts.
and a depressed #3... *sigh*</p>